<router-outlet></router-outlet>
<header>
  <h1>Financial Recommender</h1>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-6 mt-3">
      <div class="card shadow-lg credit-image">
        <div class="card-body text-white">
          <h2 class="card-title">Credit Card Prediction Form</h2>
          <form (ngSubmit)="submitCreditCardPredictionForm()" [formGroup]="creditCardForm">
            <div class="mb-3">
              <label for="creditLimit" class="form-label">Credit Limit:</label>
              <input type="number" id="creditLimit" class="form-control" formControlName="creditLimit" required>
            </div>

            <div class="mb-3">
              <label for="creditUtilization" class="form-label">Credit Utilization:</label>
              <input type="number" id="creditUtilization" class="form-control" formControlName="creditUtilization"
                required>
            </div>

            <div class="mb-3">
              <label for="creditScore" class="form-label">Credit Score:</label>
              <input type="number" id="creditScore" class="form-control" formControlName="creditScore" required>
            </div>

            <div class="mb-3">
              <label for="cardholderAge" class="form-label">Cardholder Age:</label>
              <input type="number" id="cardholderAge" class="form-control" formControlName="cardholderAge" required>
            </div>

            <button class="btn btn-outline-light" type="submit">Get Credit Card Prediction</button>
          </form>

          <div class="row mt-3">
            <h4><strong>Prediction</strong></h4>
            <p>{{cardPrediction}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <div class="card shadow investment-image">
        <div class="card-body text-white">
          <h2 class="card-title">Investment Prediction Form</h2>
          <form (ngSubmit)="submitInvestmentPredictionForm()" [formGroup]="investmentForm">
            <div class="mb-3">
              <label for="investmentReturn" class="form-label">Investment Return:</label>
              <input type="number" id="investmentReturn" class="form-control" formControlName="investmentReturn"
                required>
            </div>

            <div class="mb-3">
              <label for="riskTolerance" class="form-label">Risk Tolerance:</label>
              <input type="text" id="riskTolerance" class="form-control" formControlName="riskTolerance" required>
            </div>

            <div class="mb-3">
              <label for="investorAge" class="form-label">Investor Age:</label>
              <input type="number" id="investorAge" class="form-control" formControlName="investorAge" required>
            </div>

            <div class="mb-3">
              <label for="investorIncome" class="form-label">Investor Income:</label>
              <input type="number" id="investorIncome" class="form-control" formControlName="investorIncome" required>
            </div>

            <button class="btn btn-outline-light" type="submit">Get Investment Prediction</button>
          </form>

          <div class="row mt-3">
            <h4><strong>Prediction</strong></h4>
            <p>{{investmentPrediction}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
